body > main {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

article{
    margin-top: 0;
    margin-bottom: 0;
    padding: 2rem;
}

article > h2 {
    margin-bottom: 1rem;
}

article :last-child {
    margin-bottom: 0;
}

footer > p {
    margin: 0;
}